
<div class="card-body">
  <form>
    <div class="row">
      <div class="col-md-8">
        <div class="mb-3">
          <label class="form-label" for="inputUsername">Full Name</label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" value="{{ user.name }}">
        </div>
        <div class="mb-3">
          <label class="form-label" for="inputBio">Biography</label>
          <textarea rows="2" class="form-control" id="inputBio"
                    placeholder="Tell something about yourself"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <img alt="Charles Hall" src="assets/img/avatars/avatar.png" class="rounded-circle img-responsive mt-2"
               width="128" height="128" />
          <div class="mt-2">
            <span class="btn btn-primary"><i class="fas fa-upload"></i> Upload</span>
          </div>
          <small>For best results, use an image at least 128px by 128px in .jpg format</small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </form>
</div>
<!--    ./CARD-->
