<div class="container-fluid p-0">

  <h1 class="h3 mb-3">Settings</h1>

  <div class="row">
    <div class="card">
      <p-tabView [(activeIndex)]="index">
        <p-tabPanel header="Public data">
          <app-public-settings [(user)]="user"></app-public-settings>
        </p-tabPanel>
        <p-tabPanel header="Private data">
          <app-private-settings [(user)]="user"></app-private-settings>
        </p-tabPanel>
        <p-tabPanel header="Password">
          <app-password-settings [(user)]="user"></app-password-settings>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

</div>
